<%= render 'layouts/algoMenu' %>

<div class="well span7"> <h3> Think you know Bubble sort?</h3>
        <p> Click the green buttons to swap any two sort elements.</p>
        <p> If you match the exact iterative process of a standard bubble sort algorithm, you win!</p>
</div>

<%= javascript_tag "runSort(bubbleSort)" %>
