body{
    padding-top: 65px;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

.navbar-inner {
    background-color: #4e8847; /* background color will be black for all browsers */
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
}

.sortElement {
    position:absolute;
    z-index: 1000;
    width:96%;
    background-color:#87CEFF;
    border-style:solid;
    border-width:3px;
    border-color:black;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

    font-size:200%;
    display: table;
    text-align:center;
}

.sortElement > .cell {
    display: table-cell;
    vertical-align: middle;
}

.switchToolHead{
    position:absolute;
    width:30%;
    height:30%;
    margin-left:auto;
    margin-right: auto;
    border-style:solid;
    border-width:3px;
    border-color:black;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #34805a;
}

.showSWTClicked {
    background-color: red;
}

.number {

}

.bucket {
    position: relative;
    display:inline-block;
    margin-left:0px;
    margin-right:0px;
    text-align: center;
    vertical-align: middle;
    background-color:yellow;
    border-style: solid;
    border-radius: 0px;
    border-width:3px;
    border-color:black;
}

#bucketMaster{
    white-space: nowrap;
    background-color: transparent;
}

.nextIterButton{
    position:absolute;
    width:300px;
    height:auto;
    top: 220px;
    left:250px;
    height:30px;
    padding:0 0 0 3px;
    font-size:27px;
    font-weight:bold;
}

#options {
    position: relative;
    float:right;
    text-align: center;
    width:300px;
    height: 300px;
    border-style: dashed;
    border-color: #4169e1;
}

#optionHeader {
    position:relative;
    margin:auto;
    text-align: center;
    text-decoration: underline;
}

.nav #signup {
    background-color:blue;
}


