<div class="btn-group">
    <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="#">
    	Array Size
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a onclick="setMaxSortElements('Big')">Big</a></li>
        <li><a onclick="setMaxSortElements('Medium')">Medium</a></li>
        <li><a onclick="setMaxSortElements('Small')">Small</a></li>
    </ul>
</div>