<div class="row-fluid">
    <div class="navbar navbar-inverse navbar-fixed-top span10">
        <div class="navbar-inner">
            <div class="container-fluid">

                <a class="brand" href="#">Concept Before Code</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><%= link_to "Play", root_path %></li>
                        <li><%= link_to "About", about_path %></li>
                        <li><%= link_to "Contact", contact_path%></li>
                        <li id='signup'><%= link_to "Sign Up", signup_path%></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
</div>